@model RentierApplication.ViewModels.TenantDeleteViewModel
 
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this Tenant ?</h3>
<div>
    <h4>Tenants</h4>
    <hr />
    <div>@Model.ID</div>
    <dl class="row">
       
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyObligation)
        </dt>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surety)
        </dt>
    </dl>
    
    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Surname)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Email)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.MoneyObligation)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Surety)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        @* @Html.Hidden("ID",Model.ID) *@
        <input type = "text" value = "@Model.ID" id = "ID" name = "ID" style = "display: none"/>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
