@model RentierApplication.DAL.Entities.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
//tu przekazać id paymentu 
<a href="@Url.Action("Index", "Tansaction", new {PaymentId = Model.Id})">Go to transactions</a>
<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealEstate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealEstate.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyIncome)
        </dd>
    </dl>
</div>
<div style="border-style:solid">
   @*  @{
        var TransactionVIewModel = null;
        TransactionVIewModel.PaymentId = Model.Id;
    }  *@


    @await Html.PartialAsync("~/Views/Transactions/Index.cshtml", Model.Transactions)
    @* Zmienić  model na  viewModel, z polem paymentID. Payment id   *@
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
